.noRecords{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:#FF0000;
	line-height:20px;
}
.textarea{	
	border:none;
	width:350px;
	min-height:70px;
	height:auto;
}
.smalltextarea{	
	border:none;
	width:290px;
	height:30px;
}
.textarealarge{	
	border:none;
	width:450px;
	min-height:70px;
	height:auto;
}
/*-------------------------------Pagination css starts--------------------------------------------*/
div.pagination {
	padding:3px;
	margin:10px 3px;
	text-align:center;
}

div.pagination a {
	padding: 5px 15px;
	margin-right: 2px;
	border: 1px solid #08c;
	border-radius:3px;
	text-decoration: none; 
	text-shadow:1px 1px 0px #08c;
	color: #FFF;
	position:relative;
	
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #abc6d5), color-stop(1, #08c));
	background:-moz-linear-gradient(top, #abc6d5 5%, #08c 100%);
	background:-webkit-linear-gradient(top, #abc6d5 5%, #08c 100%);
	background:-o-linear-gradient(top, #abc6d5 5%, #08c 100%);
	background:-ms-linear-gradient(top, #abc6d5 5%, #08c 100%);
	background:linear-gradient(to bottom, #abc6d5 5%, #08c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#abc6d5', endColorstr='#08c',GradientType=0);
	background-color:#7ea6ba;
}
div.pagination a:after{
	content:'';
	position:absolute;
	
	
	top:8px;
	border:0px solid rgba(0,0,0,0);
	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	
	}
div.pagination a._pre:after{
	left:0px;
	margin-left:-5px;
	}
div.pagination a._nxt:after{	
	left:100%;
	margin-left:-10px;
	}

div.pagination a:hover:after{
	top:4px;
	border:8px solid rgba(0,0,0,0);
	}
div.pagination a._pre:hover:after{
	border-right-color:#FFF;
	}
div.pagination a._nxt:hover:after{
	border-left-color:#FFF;
	}	
		
div.pagination a:hover, div.pagination a:active {
	box-shadow:0 0 3px rgba(0,0,0,0.5);
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	font-weight: bold;
	color: #08c;
}
div.pagination span.disabled {
	padding:5px 7px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}

/*------Pagination css ends here------------------------------*/